*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:  sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    background: #4974A0;
}

.logo{
    display: flex;
    width: 20vh;
}

/*TIJDEN*/

.tijd{
    background: white;
    width: 380px;
    height: 400px;
    margin-top: 75px;
    margin-left: 50px;
    border: 1px solid black;
}

/* Blok 1 Tijd en datum*/

.boventijd{
    width: 280px;
    height: 100px;
    border: 1px solid black;
    margin: 50px;
}

.tijdflak{
    margin-top: 38px;
    margin-left: 110px;
    overflow: hidden;
}

/* Datum */

.ondertijd{
    width: 280px;
    height: 100px;
    border: 1px solid black;
    margin: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* WEERBERICHT */

.weerbericht{
    background: white;
    width: 380px;
    height: 400px;
    position: absolute;
    left: 750px;
    top: 217px;
    border: 1px solid black;
}

.circel1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 20%;
    top: 9%;
}
.circel2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 34%;
}

.circel3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 20%;
    top: 50%;
}

.blockonderaan{
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
    margin-top: 328px;
}

/*Form invulling*/

.form2{
    width:40rem;
    min-height:40rem;
    background:#4974A0;
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:4rem;
    font-size:2rem;
    gap:2rem;
    border-radius:5px;
    position:absolute;
    left:65%;
    top:23%;
    height:400px;
}

form label{
    border-bottom:2px solid #3faa75;
    color:white;
}

form div{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

input{
    display:block;
    width:30ch;
    padding:1rem 2rem;
    font-size:1rem;
    border:1px solid black;
    resize:none;
}

textarea{
    height:13ch;
    width:100%;
    font-size:1.6rem;
    border:1px solid rgb(0, 0, 0);
    font-family: sans-serif;
    padding:1rem 2rem;
    resize:none;
    background:#EEEEEE;
}

.submit{
    background:#3faa75;
    color:#ffffff;
    font-size:1.6rem;
    border:none;
}

.submit:hover{
    cursor:pointer;
}